
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Orbitron'; */
    /* outline: 1px solid red; */
}

:root{
    --textcolor:#fff;
    --spancolor:#279aa4;
}

.intro-container{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: var(--textcolor);
}

.intro-container .intro{
    height: 40vh;
    width: 40vw;
   
    
}

.intro-container .intro h1{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    height: inherit;
    font-size: 42px;
    font-family: 'poppins';
    text-transform: uppercase;
}

.intro-container .intro span{
    font-family: 'poppins';
    color: var(--spancolor) ;
    text-align: right;
    text-transform: uppercase;
}

.intro-container .hero{
    display: flex;
    flex-direction: column;
    background: transparent;
}


.intro-container .hero .hero-img{
    width: 600px;
    background: transparent;
    
}

.intro-container .shadow{
    position: absolute;
    top: 20vh;
    right: 0;
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
    z-index: -5;
    opacity: .1;
    
}

.intro-container .shadow1,.shadow2{
    position: absolute;
    top: 10vh;
    right: 40vh;
    width: 400px;
    height: 400px;
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
    z-index: -5;
    opacity: 1;
    animation: shadow 5s infinite ease-in-out;

}

.intro-container .shadow2{
    top: 40vh;
    background: rgba(26, 168, 211, 0.6);
  filter: blur(750px);
  right: 20vh;
  opacity: .3;
}

.intro-container .shadow3{
    height: 40vh;
    width: 40vw;
    position: absolute;
    top: 20vh;
    left: 10.2vh;
    background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
    filter: blur(123px);
    opacity: .6;
    animation: shadow 5s infinite ease-in-out;
}

@keyframes shadow {
    0%{
        transform: scale(.5);
    }    
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.5);
    }
}